h4{
  text-align: center;
}

h3{
  text-align: center;
}

.flex{
  display: flex;
}

.me{
  height: 350px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.small{
  height: 300px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  margin-left: auto;
  margin-right: auto;

}
